﻿body
{
    background: #F9FFFF;
}

.login-form
{
    margin: 75px 30% 0 30%;
    font-size: 1.3em;
    background: #C7E1E1;
    font-family: Corbel, Helvetica;
    position: relative;
    overflow: hidden;
    min-height: 445px;
    width: 390px;
    border: 1px solid #609BAA;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    box-shadow: inset 0 0 20px #609BAA;
    padding-bottom: 15px;
}
.login-form-header
{
    background-color: #88C3D2;
    border-bottom: 1px solid #2E6978;
    border-top: 1px solid #609BAA;
}
.login-form h1
{
    margin: 15px 0px 15px 15px;
    font-size: 1.5em;
    color: #1C2F00;
}
.login-form p
{
    margin: 10px 0px 12px 15px;
    padding-bottom: 3px;
}
.login-form input[type=text], input[type=password]
{
    width: 320px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #BDD7D7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    padding-left: 35px;
}
.login-form input[type=text]
{
    background: #fff url(../images/icons/medium/login_user.png) no-repeat;
    background-position: 1% 50%;
}
.login-form input[type=password]
{
    background: #fff url(../images/icons/medium/login.png) no-repeat;
    background-position: 1% 50%;
}
.login-form-btn
{
    margin-top: 20px;
    padding: 9px 155px 9px 155px;
    color: #FFF;
    background: #31869B;
    border: 1px solid #13687D;
    border-bottom: 4px solid #13687D;
    font-size: 1em;
    text-decoration: none;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.login-form-btn:hover
{
    background: #1D7287;
    border: 1px solid #005469;
    border-bottom: 4px solid #005469;
}
.remember-check
{
    font-size: 0.8em;
}
.error-label
{
    color: #FF0000;
    font-size: 0.7em;
    font-weight: bold;
}
.login-attempts-label
{
    font-size: 0.7em;
    font-weight: bold;
}
.water-mark-text-extender
{
    color: #444444;
    font-style: italic;
    font-size: 11px;
}
.href_link
{
    font-size:13px;
    text-decoration:none;
}
.href_link:hover
{
    font-weight:bold;
    text-decoration:underline;
}