﻿body
{
    margin: 0;
    font-family: Helvetica,Corbel;
    background-color: #F9FFFF;
    min-height: 100%;
}
.overlay
{
    min-height: 100%;
    position: relative;
}

.container
{
    width: 97%;
    position: relative;
    padding: 0;
    margin: 0 auto;
    border: 0px solid #f00;
    letter-spacing: 1px;
}
.topheader
{
    height: 20px;
    text-align: right;
    padding-top: 13px;
    font-size: 14px;
    color: #FFF;
    margin-top: 0px;
    white-space: nowrap;
    font-family: Helvetica,Corbel;
    background: #404040;
}
.topheader a, input[type=submit]
{
    position: relative;
    padding: 10px;
    text-decoration: none;
    font-style: normal;
    font-size: 13px;
    color: #FFF;
    min-width: 90px;
    z-index: 1;
}
.topheader a:hover, input[type=submit]:hover
{
    background: #363636;
}
.header
{
    position: relative;
    height: 100px;
    font-size: .9em;
    vertical-align: text-bottom;
    color: #EAEAEA;
    background: #404040;
    width: 100%;
    font-family: Gill Sans MT;
}
.top-header-bar-inner
{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.logo
{
    background: none;
    margin: 0;
    float: left;
    padding-top: 17px;
    word-spacing: 1;
    letter-spacing: 0px;
    color: #215967;
    font-size: 40px; /*font-family:'Gill Sans Light';*/
}
.logo-span1 {
    color: #e6f3f6;
}
.logo-span2
{
    color: #fff;
}
.main-menu
{
    vertical-align: bottom;
    padding-top: 32px;
    text-align: center;
    font-size: 14px;
    font-family: Helvetica,Corbel;
}
.main-menu a
{
    padding: 14px 10px 14px 10px;
    text-decoration: none;
    word-spacing: 2;
    color: #F5F5F5;
    letter-spacing: 1;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
    max-width: 20px;
}
.main-menu a:hover
{
    padding: 14px 10px 14px 10px;
    background: #1D7287;
    color: #FFF;
    background: #363636;
}
.version
{
    vertical-align: middle;
    padding-top: 6%;
    color: #f5F5F5;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
}
.menu
{
    background-color: #c3d69b;
    min-height: 47px;
    text-align: left;
}
.menuitems
{
    padding-top: 13px;
    overflow-style: auto;
}
.menu ul
{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.menu li
{
    display: inline;
}
.menuitems a
{
    padding: 12px 8px 8px 8px;
    text-decoration: none;
    word-spacing: 2;
    color: #F5F5F5;
    letter-spacing: 1;
    font-size: 14px; /*white-space: nowrap;*/
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    transition: .2s;
}
.menuitems a:hover
{
    padding: 12px 8px 8px 8px;
    background: #1D7287;
    color: #FFF;
}
.menuitems a:visited
{
    background-color: #005469;
}
a.active-menuitem
{
    padding: 16px 8px 17px 8px; /*background: #13687D;     color: #FFF;     border-top: 3px solid #13687D; pointer-events: none;*/
    background: #005469;
    color: #F0F0F0;
}
.mainMenuPanel
{
    padding: 0px 1px 1px 0px;
    color: #F5F5F5;
    background: #1D7287;
    margin-bottom: 0;
    margin-left: -1px;
    margin-top: 0px;
}

.mainMenuPanel a
{
    font-size: 14px;
    color: #FFF;
    text-transform: capitalize;
    padding: 6px 0px 6px 10px;
    background: none;
    display: block;
    line-height: 30px;
    border: 0;
    border-bottom: 1px solid #8BE0F5;
    width: auto;
    width: 230px !important;
    text-decoration: none;
}
.mainMenuPanel a:hover
{
    color: #1C2F00;
    background: #92CDDC;
    border-bottom: 3px solid #005469;
    padding: 5px 0px 5px 10px;
    border-top: 0px;
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    transition: .2s;
}
.main-module-header
{
    background-color: #fff;
    min-height: 45px;
    text-align: left;
    font-size: 28px;
    font-family: @Batang;
    color: #616161;
    padding-top: 15px;
    padding-left: 2px;
}
.contentHeader
{
    color: #000;
    height: 23px;
    padding-top: 5px;
    padding-left: 20px;
    border-bottom: 3px solid #A3B08C;
    color: #F4F4F4;
    margin-top: 0px;
    font-size: 1em;
    padding: 6px 10px 6px 10px;
    border-bottom: 1px solid #3A4D14;
    background: #6C7F46;
}
.contentdiv
{
    margin-top: 0px;
    min-height: 500px;
    font-size: 0.9em;
    color: #000;
    background-color: #CBD8B4;
    border-left: 1px solid #B7C4A0;
    border-right: 0px solid #B7C4A0;
    padding-bottom: 10px;
    position: relative;
    overflow-y: auto;
}
.main_content
{
    margin-top: 0px;
    min-height: 550px;
    font-size: 0.9em;
    color: #000;
    background-color: #FFF; /*border-left: 1px solid #CEEBEB;     border-right: 1px solid #CEEBEB;*/
    padding-bottom: 10px;
    position: relative;
    overflow-y: auto;
    padding-left: 2px;
    border-left: 1px solid #E5EBEB;
    border-right: 1px solid #E5EBEB;
}
.footer
{
    height: 70px;
    background-color: #004A5F;
    position: relative;
    color: #81D6EB;
    text-align: center;
    padding-top: 40px;
    bottom: 0;
    width: 100%;
}
.module-menu {
    padding-top: 11px;
    text-align: left;
    display: block;
    min-height: 30px;
    background-color: #7EB9C8;
}
    .module-menu a {
        padding: 9px 3px 9px 3px;
        text-decoration: none;
        word-spacing: 2;
        color: #000;
        letter-spacing: 1;
        margin-right: -5px;
        margin-left: 0px;
        background: #7EB9C8;
        border: 0px solid #6AA5B4;
        border-left: 1px solid #FFF;
        background-color: #7EB9C8;
    }
.module-menu a:hover
{
    background: #C7E1E1;
    border: 1px solid #A9C3C3;
    border-top: 3px solid #8BA5A5;
}
a.active-module-menu
{
    margin-top: 0px;
    padding: 10px 8px 9px 8px;
    background: #C7E1E1;
    border-style: inset;
    pointer-events: none;
    border-bottom: 1px solid #C7E1E1;
    border-left: 1px solid #A9C3C3;
    border-top: 1px inset #A9C3C3;
}
.module-first-menu
{
    padding-top: 11px;
    text-align: left;
    display: block;
    min-height: 26px;
    margin-bottom: 15px;
}
.module-first-menu a
{
    padding: 9px 18px 9px 8px;
    text-decoration: none;
    word-spacing: 2;
    color: #000;
    letter-spacing: 1;
    margin-right: -5px;
    margin-left: 0px;
    border: 0px solid #6AA5B4;
    border-right: 1px solid #DBF5F5;
    background: #BDD7D7;
}
.module-first-menu a:hover
{
    background: #C7E1E1;
    border: 1px solid #A9C3C3;
    border-top: 2px solid #8BA5A5;
}
fieldset
{
    border: 1px solid #BDD7D7;
    letter-spacing: .5px;
    margin-bottom: 5px;
    margin-top: 0px; /*-webkit-border-radius: 3px;     -moz-border-radius: 3px;     border-radius: 3px;*/
}
legend
{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1em;
}
.child-content-header
{
    background: #C7E1E1;
    font-size: 15px;
    border-left: 1px solid #A9C3C3;
    padding: 8px 0px 3px 5px;
    border-bottom: 1px solid #A9C3C3;
    border-right: 1px solid #A9C3C3; /*margin-top: 10px;     margin-bottom: 10px;*/
}
.child-content-header TABLE
{
    width: 98%;
}
.child-content-header input[type=text]
{
    width: 300px;
    height: 26px;
    margin-bottom: 2px;
    background-color: #F9FFFF;
    border: 1px solid #BDD7D7;
    padding-left: 2px;
}
.child-content-header fieldset
{
    border: 1px solid #BDD7D7;
    letter-spacing: .5px;
    margin-bottom: 5px;
    margin-top: 0px; /*-webkit-border-radius: 3px;     -moz-border-radius: 3px;     border-radius: 3px;*/
    width: 99%;
}
.child-content-header legend
{
    text-transform: capitalize;
    font-weight: bold;
    font-size: .9em;
}
.content-menu-bar
{
    padding: 9px 0px 8px 2px;
    background: #C7E1E1;
    letter-spacing: 0.2px;
    top: 165px;
    white-space: nowrap;
    border-bottom: 1px solid #A9C3C3;
    border-left: 1px solid #A9C3C3;
    border-right: 1px solid #A9C3C3;
     font-size:14px;
}
.search-div
{
    padding: 8px 0px 8px 2px;
    background: #EFF5F5;
    letter-spacing: 0.2px;
    top: 165px;
    white-space: nowrap;
    border-bottom: 1px solid #A9C3C3;
    border-left: 1px solid #A9C3C3;
    font-weight: bold;
}
.search-div input[type=text]
{
    width: 350px;
    height: 25px;
    background-color: #F9FFFF;
    border: 1px solid #B3CDCD;
    padding-left: 4px;
    outline: none;
}
.tab-search-div
{
    padding: 8px 0px 8px 2px;
    background: #EFF5F5;
    letter-spacing: 0.2px;
    top: 165px;
    white-space: nowrap;
    border-bottom: 1px solid #BDD7D7;
    border-left: 1px solid #A9C3C3;
    border-right: 1px solid #A9C3C3;
    font-weight: bold;
}
.tab-search-div input[type=text]
{
    width: 350px;
    height: 25px;
    background-color: #F9FFFF;
    border: 1px solid #B3CDCD;
    padding-left: 4px;
    outline: none;
}
/*#divSearchDisplay important;
{
    height: 200px; 
    display: none; 
    overflow: auto;
     width: 343px !important;
     
}*/
.devExpressLinkBreakFix
{
    display: inline-table;
}
.content-menu-bar a
{
    color: #000;
    text-decoration: none;
    padding-left: 3px;
    padding: 6px;
    padding-top: 8px;
    padding-right: 7px;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}
.content-menu-bar a:hover
{
    background: #1D7287;
    color: #FFF;
    padding-top: 8px;
    padding-bottom: 8px;
}
.panel-details-header
{
    padding: 6px 0px 6px 2px;
    background: #C7E1E1;
    letter-spacing: 0.2px;
    top: 165px;
    white-space: nowrap;
    border-bottom: 1px solid #A9C3C3;
    border-left: 1px solid #A9C3C3;
    font-weight: bold;
}
.panel-details
{
    padding: 5px 3px 5px 3px;
    border-left: 1px solid #A9C3C3;
    border-bottom: 1px solid #A9C3C3;
    border-right: 1px solid #A9C3C3;
    background: #EFF5F5;
    font-size: 13px;
}
.panel-details table tr
{
    margin: 2;
}
.panel-details td
{
    padding-right: 20px;
    vertical-align:top;
}
.panel-details input[type=text], input[type=date]
{
    width: 300px;
    height: 23px;
    background-color: #F9FFFF;
    border: 1px solid #BDD7D7;
    padding-left: 2px;
    padding-right: 2px;
}
.panel-details input[type=password]
{
    width: 300px;
    height: 23px;
    background-color: #F9FFFF;
    border: 1px solid #BDD7D7;
    padding-left: 2px;
}
.panel-details input[type=text][readonly]
{
    background-color: #DBE1E1;
}
.panel-details textarea
{
    width: 300px;
    height: 80px;
    font-family: Helvetica,Corbel;
    font-size: 13px;
    background-color: #F9FFFF;
    border: 1px solid #BDD7D7;
    padding: 2;
}
.panel-details textarea[readonly]
{
    background-color: #DBE1E1;
}
.fixed-table
{
    table-layout: fixed;
}
.date-image
{
    padding: 0px;
    position: absolute;
}
.staff-image
{
    width: 93px;
    height: 98px; /*border: 1px solid #BDD7D7;*/
    border: 1px solid #B3CDCD; /*-webkit-border-radius: 3px;     -moz-border-radius: 3px;     border-radius: 3px;*/
    margin-top: 4px;
    cursor: pointer;
    cursor: hand;
}
.panel-details select
{
    width: 304px;
    height: 26px;
    background-color: #F9FFFF;
    border: 1px solid #BDD7D7;
    padding-left: 2px;
}
.panel-details select[readonly]
{
    background-color: #DBE1E1;
}
.panel-details hr
{
    border: 0;
    height: 1px;
    background: #BDD7D7;
}
.panel-details input[type=submit]
{
    padding: 7px 7px 7px 6px;
    text-decoration: none;
    font-style: normal;
    font-size: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #FFF;
    background-color: #31869B;
    border: 1px solid #1D7287;
    border-bottom: 3px solid #004055;
    border-right: 2px solid #1D7287;
    min-width: 90px;
    margin: 3px;
}
.panel-details input[type=submit]:hover
{
    background-color: #1D7287;
    border-bottom: 3px solid #002C41;
}
hr
{
    border: 0;
    height: 1px;
    background: #BDD7D7;
}
/*Reminders and Alerts*/
.alerts
{
    color:#0000ff;
    font-size:16px;   
    display: block;
}
/*GridViewCSS Style*/
.GridViewStyle
{
    border-collapse: collapse;
    border: 1px solid #A9C3C3;
    text-align: left;
    font-size: 1em;
    width: 100%;
    letter-spacing: 1;
    font-family: Helvetica,Corbel;
    vertical-align: top;
}

.GridViewStyle th
{
    background-color: #C7E1E1;
    color: #000;
    padding: 4px;
    border-width: 0px 0px 1px 1px;
    height: 30px;
    border: 1px solid #A9C3C3;
}

.GridViewStyle th a
{
    text-decoration: none;
    color: #000;
    display: block;
    text-align: left;
}
.GridViewStyle td
{
    font-size: 1em;
    padding: 5px;
    height: 20px;
    border: 1px solid #C7E1E1;
    vertical-align: top;
}
.GridViewStyle .AltRowStyle
{
    background: #F5FFFF repeat-x top;
}

.GridViewStyle .PagerStyle table td
{
    padding: 2px;
    border: 0px;
}
.gridViewImageDetails
{
    width: 100%;
    height: 100%;
    border: 1px solid #EFFFFF; /*background:#E1EBEB;*/
}
.gridButtons
{
    color: Blue;
    font-weight: bold;
}
.gridButtons a
{
    color: Blue;
    text-decoration: none;
}
.gridButtons a:hover
{
    text-decoration: underline;
}
.GridViewStyle .FooterStyle
{
    background: #C7E1E1;
    font-weight:bold;
}
/*.GridViewStyle .PagerStyle td
{
    border: 1px solid #D0D1D4;
    background: #4E6128;
}

.GridViewStyle .PagerStyle a, .GridViewStyle td a
{
    text-decoration: none;
    border-top: solid 1px #3A4D14;
    border-right: solid 2px #3A4D14;
    border-bottom: solid 2px #3A4D14;
    border-left: solid 1px #3A4D14;
    color: #FFF;
    background: #4E6128;
    
}

.GridViewStyle .PagerStyle a:hover, .GridViewStyle td a:hover
{
    
    border: 1px solid #AF5500;
    color: #FFF;
}

.GridViewStyle .PagerStyle span
{
    color: #000;
    text-decoration: none;
    padding: 2px 6px 2px 6px;
}*/

table.Inner-GridViewStyle
{
    border-collapse: collapse;
    border: 1px solid #9FB9B9;
    text-align: left;
    font-size: 0.9em;
    width: 100%;
    letter-spacing: 1;
    font-family: Helvetica,Corbel;
    vertical-align: top;
}

table.Inner-GridViewStyle th
{
    background-color: #C7E1E1;
    background-color: #BDD7D7;
    color: #000;
    padding: 3px;
    border-width: 0px 0px 1px 1px;
    height: 20px;
    border: 1px solid #A9C3C3;
    border-top: 0px;
}

table.Inner-GridViewStyle th a
{
    text-decoration: none;
    color: #000;
    display: block;
    text-align: left;
}
table.Inner-GridViewStyle td
{
    font-size: 1em;
    padding: 3px;
    height: 16px;
    border: 1px solid #C7E1E1;
    vertical-align: top;
    border: 1px solid #BDD7D7;
}
table.Inner-GridViewStyle .AltRowStyle
{
    background: #F5FFFF repeat-x top;
}

table.Inner-GridViewStyle .PagerStyle table td
{
    padding: 2px;
    border: 0px;
}

h3
{
    color: #215967;
    font-family: Helvetica,Corbel;
    padding-left: 10px;
}
.div-html-ajax-editor
{
    font-family: Helvetica,Corbel;
    font-size: 13px;
    background-color: #F9FFFF;
}
.div-checkboxlist
{
    background-color: #F9FFFF;
    border: 1px solid #BDD7D7;
    padding: 2px;
}
.linkBtn
{
    text-align: right;
    padding-top: 11px;
    padding-bottom: 7px;
}
.linkBtn a
{
    padding: 7px 7px 7px 6px;
    text-decoration: none;
    font-style: normal;
    font-size: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #FFF;
    background-color: #31869B;
    border: 1px solid #1D7287;
    border-bottom: 3px solid #004055;
    border-right: 2px solid #1D7287;
    min-width: 90px;
    margin: 3px;
}
.linkBtn a:hover
{
    background-color: #1D7287;
    border-bottom: 3px solid #002C41;
}
.linkBtn a:[disabled]
{
    background-color: #FFF;
    pointer-events: none;
}



.small-linkBtn
{
    padding-top: 8px;
    padding-bottom: 5px;
    text-align: center;
}
.small-linkBtn a
{
    padding: 4px 6px 4px 6px;
    text-decoration: none;
    font-style: normal;
    font-size: 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #FFF;
    background-color: #31869B;
    border: 1px solid #1D7287;
    border-bottom: 3px solid #004055;
    border-right: 2px solid #1D7287;
    min-width: 90px;
    margin: 3px;
    margin-bottom: 0px;
}
.small-linkBtn a:hover
{
    background-color: #1D7287;
    border-bottom: 3px solid #002C41;
}
.small-linkBtn a:[disabled]
{
    background-color: #FFF;
    pointer-events: none;
}

.errorMessage
{
    color: #FF0000;
    font-size: 12px;
    font-weight: bold;
}
.info-message
{
    color: #7BA6B4;
    font-size: 12px;
    font-weight: bold;
}
.small-info-message
{
    color: #5D8896;
    font-size: 11px;
}
.doc-info
{
    letter-spacing: 0;
    font-size: 0.8em;
    font-weight: bold;
}

.div-app-pages
{
    /*border: 1px solid #BDD7D7;*/
    width: 100%;
    height: 360px;
    overflow: auto;
    margin: 2;
    margin-bottom: 5px;
}
.div-image-upload
{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.staff-image-upload
{
    border: 1px solid #BDD7D7;
    width: 305px;
    height: 372px;
    background: #E1EBEB;
}

.image-uploader-linkBtn a
{
    padding: 7px 7px 7px 6px;
    text-decoration: none;
    font-style: normal;
    font-size: 12px;
    color: #FFF;
    background-color: #31869B;
    border: 1px solid #1D7287;
    border-bottom: 2px solid #004055;
    border-right: 2px solid #1D7287;
}
.image-uploader-linkBtn a:hover
{
    background-color: #1D7287;
    border-bottom: 2px solid #002C41;
}
.drpDownYear
{
    width: 60px;
    height: 26px;
    background-color: #F9FFFF;
    border: 1px solid #BDD7D7;
    padding-left: 2px;
}
.divReportViewerCSS
{
    width: 100%; /*height: 635px;*/
    background-color: #FFFFFF;
    overflow: auto;
    color: #000000;
    vertical-align: text-bottom;
}
.report_header
{
    background-color: Black;
}
.report-ToolbarStyle
{
    padding-top: 4px;
    text-align: left;
    display: block;
    height: 26px;
    background-color: #88C3D2;
}
.update-progress
{
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    position: absolute;
    padding-left: 40%;
}
.grid-linkBtn
{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    padding-left: 2px;
    border-left: 1px solid #C7E1E1;
}
.grid-linkBtn input[type=submit]
{
    padding: 4px 6px 4px 6px;
    text-decoration: none;
    font-style: normal;
    font-size: 12px;
    color: #FFF;
    background-color: #31869B;
    border: 1px solid #1D7287;
    border-bottom: 2px solid #004055;
    border-right: 2px solid #1D7287;
    min-width: 60px;
    margin: 3px;
    margin-bottom: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.grid-linkBtn input[type=submit]:hover
{
    background-color: #1D7287;
    border-bottom: 2px solid #002C41;
}
.grid-linkBtn input[type=submit]:[disabled]
{
    background-color: #FFF;
    pointer-events: none;
}
.login-popup-header
{
    padding: 6px 0px 6px 2px;
    background: #C7E1E1;
    letter-spacing: 0.2px;
    top: 165px;
    white-space: nowrap;
    border-bottom: 1px solid #A9C3C3;
    border: 1px solid #A9C3C3;
    font-size: 20px;
    border-right: 2px solid #A9C3C3;
    text-align: center;
    border-top-right-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    -webkit-border-top-left-radius: 15px;
    -moz-border-top-left-radius: 15px;
}
#login-popup
{
    padding-bottom: 3px;
    margin-top: 0px;
    padding-top: 0px;
    padding: 4px;
    border-left: 1px solid #A9C3C3;
    border-bottom: 5px solid #A9C3C3;
    border-right: 2px solid #A9C3C3;
    background: #EBF5F5;
    font-size: 14px;
    padding-bottom: 5px;
    -webkit-box-shadow: 2px 2px 6px 1px #A9C3C3;
    -moz-box-shadow: 2px 2px 6px 1px #A9C3C3;
    box-shadow: 2px 2px 6px 1px #A9C3C3;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-bottom-left-radius: 15px;
    border-bottom-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-bottom-right-radius: 15px;
    border-bottom-right-radius: 15px;
    letter-spacing: 2;
}
#login-popup p
{
    padding: 1px;
    padding-left: 18px;
    padding-right: 15px;
    margin: 3px;
}
#login-popup input[type=text], #login-popup input[type=password]
{
    width: 98%;
    height: 30px;
    margin: 1px;
    font-size: 14px;
    padding-left: 5px;
    margin-left: 1px;
    border: 1px solid #C7E1E1;
    outline: none;
    line-height: 2.1;
}
.login-error-label
{
    color: #FF0000;
    font-size: 14px;
}
.login-water-mark-text-extender
{
    color: #444444;
    font-style: italic;
    font-size: 11px;
}


.login-linkBtn
{
    text-align: right;
    padding-top: 11px;
    padding-bottom: 10px;
}
.login-linkBtn a
{
    padding: 7px 20px 7px 20px;
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #FFF;
    background-color: #31869B;
    border: 1px solid #1D7287;
    border-bottom: 3px solid #004055;
    border-right: 2px solid #1D7287;
    min-width: 90px;
    margin: 3px;
}
.login-linkBtn a:hover
{
    background-color: #1D7287;
    border-bottom: 3px solid #002C41;
}
.dashboard
{
    position: relative;
    display: table;
    border-spacing: 20px; /*margin: 10px 10px 5px 10px;*/
    padding: 8px;
    border: 1px solid #E5EBEB;
   
    font-size: 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    width: 98%;
    min-height: 400px;
    color: #000;
}
.dashboard-row
{
    position: relative;
    display: table-row;
    vertical-align: middle;
}
.dashboard-cell
{
    position: relative;
    display: table-cell;
    padding: 10px 10px 10px 10px;
    text-align: left;
    vertical-align: top;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 31%;
    margin: 10px;
    border: 1px solid #c7e1e1;
    background-color: #e6f3f6;
}
.dashboard-header
{
    font-weight: bold;
    margin-bottom: 3px;
    text-align: left;
}
.dashboard-cell-table
{
    width: 60%;
    text-align: left;
}
.dashboard-gridview
{
    border-collapse: collapse;
    border: 0px solid #A9C3C3;
    text-align: left;
    font-size: 1em;
    width: 100%;
    letter-spacing: 1;
    font-family: Helvetica,Corbel;
    vertical-align: top;
}
.dashboard-gridview td
{
    font-size: 1em;
    padding: 2px;
    height: 14px;
    border: 0px solid #C7E1E1;
    vertical-align: top;
}
.performance-div-header
{
    padding: 9px 0px 8px 2px;
    background: #C3D69B;
    letter-spacing: 0.2px;
    top: 165px;
    white-space: nowrap;
    border-top: 1px solid #A9C3C3;
    border-left: 1px solid #A9C3C3;
    border-right: 1px solid #A9C3C3;
}
.performance-div
{
    border: 1px solid #BDD7D7;
    padding-left: 5px;
    padding-right: 5px;
}
.performance-div input[type=text], .performance-div input[type=date], .performance-div textarea, .performance-div select
{
    width: 250px;
}
pre
{
    font-size: 13px;
    letter-spacing: 1;
    font-family: Helvetica,Corbel;
    vertical-align: top;
    margin-top: 0px;
    line-height:1.5;
}

.login-option
{
    font-weight:bold;
}