﻿body
{
    margin: 0;
    font-family: Helvetica,Corbel;
    background-color: #F9FFFF;
    min-height: 100%;
}
.container
{
    width: 94%;
    position: relative;
    padding: 0;
    margin: 0 auto;
    border: 0px solid #f00;
    letter-spacing: 1px;
}
.topheader
{
    position: absolute;
    height: 20px;
    text-align: right;
    padding-top: 7px;
    font-size: 14px;
    color: #FFF;
    margin-top: 5px;
    margin-left: 70%;
    white-space: nowrap;
    font-family: Helvetica,Corbel;
}
.topheader a, input[type=submit]
{
    position: relative;
    padding: 10px;
    text-decoration: none;
    font-style: normal;
    font-size: 12px;
    color: #FFF;
    min-width: 90px;
    z-index: 1;
}
.topheader a:hover, input[type=submit]:hover
{
    background: #363636;
}
.header
{
    position: relative;
    height: 100px;
    font-size: .9em;
    vertical-align: text-bottom;
    color: #EAEAEA;
    background: #404040;
    width: 100%;
    font-family: Gill Sans MT;
}
.top-header-bar-inner
{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.logo
{
    /*background: none;     margin: 0;     float: left;     padding-top: 0px;     font-size: 10px;     word-spacing: 1;     letter-spacing: 0px;     color: #215967;*/
    background: none;
    margin: 0;
    float: left;
    padding-top: 50px;
    word-spacing: 1;
    letter-spacing: 0px;
    color: #215967;
    font-size: 40px;
}
.logo-span1 {
    color: #e6f3f6;
}
.logo-span2
{
    color: #fff;
}
.version
{
    vertical-align: middle;
    padding-top: 6.8%;
    color: #f5f5f5;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
}
.menu {
    /*background-color: #13687D;*/
    background-color: #7EB9C8;
    height: 46px;
}
.menuitems
{
    padding-top: 15px;
}
.menu ul
{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.menu li
{
    display: inline;
}
.menuitems a
{
    padding: 9px 8px 8px 8px;
    min-width: 150px;
    text-decoration: none;
    word-spacing: 2;
    color: #F5F5F5;
    color: #000;
    letter-spacing: 1;
    font-size: 14px;
    white-space: nowrap;
}
.menuitems a:hover
{
    padding: 9px 5px 8px 5px;
    color: #000;
    font-weight: bold;
}
.menuitems a:visited
{
    background: #C7E1E1;
}
a.active-module-menu
{
    color: #000;
    padding: 19px 8px 15px 8px;
    background: #C7E1E1;
    border-style: inset;
    border: 1px solid #8BA5A5;
    pointer-events: none;
    border-bottom: 1px solid #C7E1E1;
    border-left: 1px solid #A9C3C3;
}
.content-header
{
    background: #C7E1E1;
    font-size: 15px;
    border-left: 1px solid #A9C3C3;
    padding: 8px 0px 3px 5px;
    border-bottom: 1px solid #A9C3C3;
    border-right: 1px solid #A9C3C3;
}
.content-header input[type=text]
{
    width: 300px;
    height: 26px;
    margin-bottom: 2px;
    background-color: #F9FFFF;
    border: 1px solid #BDD7D7;
    padding-left: 2px;
}
.main_content
{
    margin-top: 0px;
    min-height: 420px;
    font-size: 0.9em;
    color: #000;
    background-color: #FFF;
    border-left: 1px solid #CEEBEB;
    border-right: 1px solid #CEEBEB;
    box-shadow: inset 0px 0px 10px #CEEBEB;
    padding-bottom: 10px;
    position: relative;
    overflow-y: auto;
    padding-left: 2px;
}
.panel-details-header
{
    padding: 6px 0px 6px 2px;
    background: #C7E1E1;
    letter-spacing: 0.2px;
    top: 165px;
    white-space: nowrap;
    border-bottom: 1px solid #A9C3C3;
    border-left: 1px solid #A9C3C3;
    font-weight: bold;
}
.panel-details
{
    padding: 4px;
    border-left: 1px solid #A9C3C3;
    border-bottom: 1px solid #A9C3C3;
    border-right: 1px solid #A9C3C3;
    background: #EFF5F5;
    font-size: 13px;
    padding-bottom: 5px;
}
.panel-details table tr
{
    margin: 2;
}
.panel-details td
{
    padding-right: 20px;
}
.panel-details input[type=text], input[type=password], input[type=date]
{
    width: 300px;
    height: 23px;
    background-color: #F9FFFF;
    border: 1px solid #BDD7D7;
    padding-left: 2px;
}
.panel-details input[type=text][readonly]
{
    background-color: #DBE1E1;
}
.panel-details textarea
{
    width: 300px;
    height: 80px;
    font-family: Helvetica,Corbel;
    font-size: 13px;
    background-color: #F9FFFF;
    border: 1px solid #BDD7D7;
    padding: 2;
}
.panel-details select
{
    width: 304px;
    height: 26px;
    background-color: #F9FFFF;
    border: 1px solid #BDD7D7;
    padding-left: 2px;
}
hr
{
    border: 0;
    height: 1px;
    background: #BDD7D7;
}
.footer
{
    height: 70px;
    background-color: #004A5F;
    position: relative;
    color: #81D6EB;
    text-align: center;
    padding-top: 40px;
}
/*GridViewCSS Style*/
.GridViewStyle
{
    border-collapse: collapse;
    border: 1px solid #A9C3C3;
    text-align: left;
    font-size: 1em;
    width: 100%;
    letter-spacing: 1;
    font-family: Helvetica,Corbel;
}
.GridViewStyle th
{
    background-color: #C7E1E1;
    color: #000;
    padding: 4px;
    border-width: 0px 0px 1px 1px;
    height: 30px;
    border: 1px solid #A9C3C3;
}

.GridViewStyle th a
{
    text-decoration: none;
    color: #000;
    display: block;
    text-align: left;
}
.GridViewStyle td
{
    font-size: 1em;
    padding: 5px;
    height: 20px;
    border: 1px solid #C7E1E1;
    vertical-align: top;
}
.GridViewStyle .AltRowStyle
{
    background: #F5FFFF repeat-x top;
}

.GridViewStyle .PagerStyle table td
{
    padding: 2px;
    border: 0px;
}

.GridViewStyle .PagerStyle td
{
    border: 1px solid #D0D1D4;
}
.GridViewStyle .FooterStyle td
{
     border: 1px solid #C7E1E1;
}
.GridViewStyle .FooterStyle
{
    background: #D1EBEB;
    font-weight:bold;
    font-size: 1.1em;
}
.GridViewStyle input[type=text]
{
    width:150px;
}
.linkBtn
{
    padding-top: 11px;
    padding-bottom: 7px;
    text-align: right;
}
.linkBtn a
{
    padding: 7px 7px 7px 6px;
    text-decoration: none;
    font-style: normal;
    font-size: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #FFF;
    background-color: #31869B;
    border: 1px solid #1D7287;
    border-bottom: 3px solid #004055;
    border-right: 2px solid #1D7287;
    min-width: 90px;
    margin: 3px;
}
.linkBtn a:hover
{
    background-color: #1D7287;
    border-bottom: 3px solid #002C41;
}
.linkBtn a:[disabled]
{
    background-color: #FFF;
    pointer-events: none;
}
fieldset
{
    border: 1px solid #BDD7D7;
    letter-spacing: .5px;
    margin-bottom: 5px;
    margin-top: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
legend
{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1em;
}
.errorMessage
{
    color: #FF0000;
    font-size: 12px;
    font-weight: bold;
}
.info-message
{
    color: #7BA6B4;
    font-size: 12px;
    font-weight: bold;
}
.small-info-message
{
    color: #5D8896;
    font-size: 11px;
}
.date-image
{
    padding: 0px;
    position: absolute;
}
.staff-image
{
    width: 83px;
    height: 83px;
    border: 1px solid #BDD7D7;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.small-linkBtn
{
    padding-top: 8px;
    padding-bottom: 5px;
    text-align: center;
}
.small-linkBtn a
{
    padding: 4px 6px 4px 6px;
    text-decoration: none;
    font-style: normal;
    font-size: 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #FFF;
    background-color: #31869B;
    border: 1px solid #1D7287;
    border-bottom: 3px solid #004055;
    border-right: 2px solid #1D7287;
    min-width: 90px;
    margin: 3px;
}
.small-linkBtn a:hover
{
    background-color: #1D7287;
    border-bottom: 3px solid #002C41;
}
.small-linkBtn a:[disabled]
{
    background-color: #FFF;
    pointer-events: none;
}
.performance-div-header
{
    padding: 9px 0px 8px 2px;
    background: #C3D69B;
    letter-spacing: 0.2px;
    top: 165px;
    white-space: nowrap;
    border-top: 1px solid #A9C3C3;
    border-left: 1px solid #A9C3C3;
    border-right: 1px solid #A9C3C3;
}
.performance-div
{
    border: 1px solid #BDD7D7;
    padding-left: 5px;
    padding-right: 5px;
}
.performance-div input[type=text], .performance-div input[type=date], .performance-div textarea, .performance-div select
{
    width: 250px;
}
.content-menu-bar
{
    padding: 9px 0px 8px 2px;
    background: #C7E1E1;
    letter-spacing: 0.2px;
    top: 165px;
    white-space: nowrap;
    border:1px solid #A9C3C3;
     border-bottom:0px solid #A9C3C3;
    font-size:13px;
    font-weight:bold;
}
.content-menu-bar a
{
    color: #000;
    text-decoration: none;
    padding-left: 3px;
    padding: 6px;
    padding-top: 8px;
    padding-right: 7px;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}
.content-menu-bar a:hover
{
    background: #1D7287;
    color: #FFF;
    padding-top: 8px;
    padding-bottom: 8px;
}
pre
{
    font-size: 13px;
    letter-spacing: 1;
    font-family: Helvetica,Corbel;
    vertical-align: top;
    margin-top: 0px;
    line-height:1.5;
}
