﻿<%@ Master Language="C#" MasterPageFile="~/AdeptHRManager.Master" AutoEventWireup="true"
    CodeBehind="RecruitmentModule.master.cs" Inherits="AdeptHRManager.Recruitment_Module.RecruitmentModule" %>

<asp:Content ID="RcModuleHeadContent" ContentPlaceHolderID="HeadContent" runat="server">
    <asp:ContentPlaceHolder ID="RecruitmentModuleHeadContent" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <div class="main-module-header">
        Recruitment
    </div>
    <asp:Panel ID="PanelRecruitmentModuleMainMenu" class="module-menu" runat="server">
        <asp:HyperLink ID="HyperLink1" NavigateUrl="~/Recruitment_Module/Job_Description.aspx"
            CausesValidation="false" runat="server">
            Job Description</asp:HyperLink>
        <asp:HyperLink ID="HyperLink4" NavigateUrl="~/Recruitment_Module/Shortlist_Applicants.aspx"
            CausesValidation="false" runat="server">
            Shortlist Applicants</asp:HyperLink>
        <asp:HyperLink ID="HyperLink25" NavigateUrl="~/Recruitment_Module/Interview_Appointments.aspx"
            CausesValidation="false" runat="server">
            Interview Appointments</asp:HyperLink>
        <asp:HyperLink ID="HyperLink3" NavigateUrl="~/Recruitment_Module/Recruitment_Report.aspx"
            CausesValidation="false" runat="server">
            Recruitment Report</asp:HyperLink>
        <asp:HyperLink ID="HyperLink34" NavigateUrl="~/Recruitment_Module/Recruitment_Settings.aspx"
            CausesValidation="false" runat="server">
            Recruitment Settings</asp:HyperLink>
    </asp:Panel>
    <div>
        <%--<div class="child-content-header">
        </div>--%>
        <asp:ContentPlaceHolder ID="RecruitmentModuleMainContent" runat="server">
        </asp:ContentPlaceHolder>
    </div>
</asp:Content>
