﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Training_Module/TrainingModule.master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="AdeptHRManager.Training_Module.Default" %>
<asp:Content ID="Content1" ContentPlaceHolderID="TrainingModuleMainContent" runat="server">
</asp:Content>
