﻿<%@ Master Language="C#" MasterPageFile="~/AdeptHRManager.Master" AutoEventWireup="true"
    CodeBehind="TrainingModule.master.cs" Inherits="AdeptHRManager.Training_Module.TrainingModule" %>

<asp:Content ID="TrainingModuleHeadContent" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <div class="main-module-header">
        Training
    </div>
    <asp:Panel ID="PanelTrainingModuleMainMenu" class="module-menu" runat="server">
        <asp:HyperLink ID="HyperLink4" NavigateUrl="~/Training_Module/Courses.aspx" CausesValidation="false"
            runat="server">
            Courses</asp:HyperLink>
        <asp:HyperLink ID="HyperLink9" NavigateUrl="~/Training_Module/Training_Schedule.aspx"
            CausesValidation="false" runat="server">
            Training Schedule</asp:HyperLink>
        <asp:HyperLink ID="HyperLink1" NavigateUrl="~/Training_Module/Training_Report.aspx"
            CausesValidation="false" runat="server">
            Training Reports</asp:HyperLink>
    </asp:Panel>
    <div>
        <%--<div class="child-content-header">
        </div>--%>
        <asp:ContentPlaceHolder ID="TrainingModuleMainContent" runat="server">
        </asp:ContentPlaceHolder>
    </div>
</asp:Content>
