﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Security_Module/SecurityModule.master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="AdeptHRManager.Security_Module.Default" %>
<asp:Content ID="Content1" ContentPlaceHolderID="SecurityModuleMainContent" runat="server">
</asp:Content>
