﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Settings_Module/SettingsModule.master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="AdeptHRManager.Settings_Module.Default" %>
<asp:Content ID="Content1" ContentPlaceHolderID="SettingsModuleMainContent" runat="server">
</asp:Content>
