﻿<%@ Master Language="C#" MasterPageFile="~/AdeptHRManager.Master" AutoEventWireup="true"
    CodeBehind="SettingsModule.master.cs" Inherits="AdeptHRManager.Settings_Module.SettingsModule" %>

<asp:Content ID="SettingsModuleHeadContent" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <div class="main-module-header">
        Settings
    </div>
    <asp:Panel ID="PanelSettingsModuleMainMenu" class="module-menu" runat="server">
        <asp:HyperLink ID="HyperLink14" NavigateUrl="~/Settings_Module/Company_Information.aspx"
            CausesValidation="false" runat="server">
            Company Info.</asp:HyperLink>
        <asp:HyperLink ID="HyperLink16" NavigateUrl="~/Settings_Module/Offices.aspx" CausesValidation="false"
            runat="server">
            Offices</asp:HyperLink>
        <asp:HyperLink ID="HyperLink17" NavigateUrl="~/Settings_Module/Departments.aspx"
            CausesValidation="false" runat="server">
            Departments</asp:HyperLink>
        <asp:HyperLink ID="HyperLink19" NavigateUrl="~/Settings_Module/Units.aspx" CausesValidation="false"
            runat="server">
            Units</asp:HyperLink>
        <asp:HyperLink ID="HyperLink21" NavigateUrl="~/Settings_Module/Teams.aspx" CausesValidation="false"
            runat="server">
            Teams</asp:HyperLink>
        <asp:HyperLink ID="HyperLink24" NavigateUrl="~/Settings_Module/Nationality.aspx"
            CausesValidation="false" runat="server">
            Nationalities</asp:HyperLink>
        <asp:HyperLink ID="HyperLink5" NavigateUrl="~/Settings_Module/Locations.aspx" CausesValidation="false"
            runat="server">
Locations</asp:HyperLink>
        <asp:HyperLink ID="HyperLink12" NavigateUrl="~/Settings_Module/Job_Title.aspx" CausesValidation="false"
            runat="server">

            Job Titles</asp:HyperLink>
        <asp:HyperLink ID="HyperLink3" NavigateUrl="~/Settings_Module/Medical_Benefits.aspx"
            CausesValidation="false" runat="server">
            Medical Benefits</asp:HyperLink>
        <asp:HyperLink ID="HyperLink4" NavigateUrl="~/Settings_Module/Medical_Schemes.aspx"
            CausesValidation="false" runat="server">
            Medical Schemes</asp:HyperLink>
        <asp:HyperLink ID="HyperLink1" NavigateUrl="~/Settings_Module/Additional_Fields.aspx"
            CausesValidation="false" runat="server">
            More Fields</asp:HyperLink>
        <asp:HyperLink ID="HyperLink2" NavigateUrl="~/Settings_Module/General_Settings.aspx"
            CausesValidation="false" runat="server">
            General Settings</asp:HyperLink>
    </asp:Panel>
    <div>
        <%--<div class="child-content-header">
        </div>--%>
        <asp:ContentPlaceHolder ID="SettingsModuleMainContent" runat="server">
        </asp:ContentPlaceHolder>
    </div>
</asp:Content>
