﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Payroll_Module/PayrollModule.master"
    AutoEventWireup="true" CodeBehind="Payroll.aspx.cs" Inherits="AdeptHRManager.Payroll_Module.Payroll" %>

<asp:Content ID="Content1" ContentPlaceHolderID="PayrollModuleMainContent" runat="server">
  <%--  <object data="D:\Workz\V8\Adept Work\HR & Payrol System\QP_Adept_Training\QP_Adept_Training\qpx16.exe"
        width="100%" height="550">
        <embed src="D:\Workz\V8\Adept Work\HR & Payrol System\QP_Adept_Training\QP_Adept_Training\qpx16.exe"
            width="100%" height="550"> </embed>
        Error: Workplans data could not be displayed.
    </object>--%>
</asp:Content>
