﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HR_Module/HRModule.master" AutoEventWireup="true"
    CodeBehind="HR_Document_Viewer.aspx.cs" Inherits="AdeptHRManager.HR_Module.HR_Document_Viewer" %>

<asp:Content ID="Content1" ContentPlaceHolderID="StaffModuleMainContent" runat="server">
</asp:Content>
