﻿<%@ Master Language="C#" MasterPageFile="~/AdeptHRManager.Master" AutoEventWireup="true"
    CodeBehind="HRModule.master.cs" Inherits="AdeptHRManager.HR_Module.HRModule" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
    <asp:ContentPlaceHolder ID="StaffModuleHeadContent" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <div class="main-module-header">
        Staff Records
    </div>
    <asp:Panel ID="PanelStaffMasterMainMenu" class="module-first-menu" runat="server">
        <asp:HyperLink ID="HyperLink3" NavigateUrl="~/HR_Module/Staff_Record.aspx" CausesValidation="false"
            runat="server">
            Staff Record</asp:HyperLink>
        <asp:HyperLink ID="HyperLink1" NavigateUrl="~/HR_Module/Staff_Master.aspx" CausesValidation="false"
            runat="server">
            Staff Master List</asp:HyperLink>
    </asp:Panel>
    <asp:Panel ID="PanelStaffModuleMainMenu" class="module-menu" runat="server">
        <%--  <asp:HyperLink ID="HyperLink2" NavigateUrl="~/HR_Module/Staff_Master.aspx" CausesValidation="false"
            runat="server">
            Staff Master</asp:HyperLink>--%>
        <asp:HyperLink ID="HyperLink23" NavigateUrl="~/HR_Module/Staff_Record.aspx" CausesValidation="false"
            runat="server">
            Personal Info</asp:HyperLink>
          <asp:HyperLink ID="HyperLink14" NavigateUrl="~/HR_Module/Alerts.aspx" CausesValidation="false"
            runat="server">
            Reminders</asp:HyperLink>
        <asp:HyperLink ID="HyperLink2" NavigateUrl="~/HR_Module/Family_Details.aspx" CausesValidation="false"
            runat="server">
            Family</asp:HyperLink>
        <asp:HyperLink ID="HyperLink4" NavigateUrl="~/HR_Module/Job_Details.aspx" CausesValidation="false"
            runat="server">
            Job Details</asp:HyperLink>
        <asp:HyperLink ID="HyperLink5" NavigateUrl="~/HR_Module/Employment_Terms.aspx" CausesValidation="false"
            runat="server">
            Salary & Benefits</asp:HyperLink>
        <asp:HyperLink ID="HyperLink6" NavigateUrl="~/HR_Module/Qualification_Details.aspx"
            CausesValidation="false" runat="server">
            Qualification</asp:HyperLink>
        <asp:HyperLink ID="HyperLink7" NavigateUrl="~/HR_Module/Employment_History.aspx"
            CausesValidation="false" runat="server">
            Employment History</asp:HyperLink>
        <asp:HyperLink ID="HyperLink8" NavigateUrl="~/HR_Module/Staff_Documents.aspx" CausesValidation="false"
            runat="server">
            Documents</asp:HyperLink>
        <asp:HyperLink ID="HyperLink18" NavigateUrl="~/HR_Module/Leave_Tracking.aspx" CausesValidation="false"
            runat="server">
            Leave</asp:HyperLink>
        <asp:HyperLink ID="HyperLink10" NavigateUrl="~/HR_Module/Attendance.aspx" CausesValidation="false"
            runat="server">
            Attendance</asp:HyperLink>
        <asp:HyperLink ID="HyperLink13" NavigateUrl="~/HR_Module/Staff_Assets.aspx" CausesValidation="false"
            runat="server">
            Assets</asp:HyperLink>
        <asp:HyperLink ID="HyperLink11" NavigateUrl="~/HR_Module/Training_Attended.aspx"
            CausesValidation="false" runat="server">
            Training</asp:HyperLink>
        <asp:HyperLink ID="HyperLink9" NavigateUrl="~/HR_Module/Staff_Performance_Review.aspx"
            CausesValidation="false" runat="server">
            Performance</asp:HyperLink>
        <asp:HyperLink ID="HyperLink12" NavigateUrl="~/HR_Module/Staff_Exit.aspx" CausesValidation="false"
            runat="server">
            Exit</asp:HyperLink>
    </asp:Panel>
    <div>
        <%--<asp:Panel ID="PanelStaffModuleHeader" class="child-content-header" runat="server">
            <table>
                <tr align="top">
                    <td>
                   
                        <asp:Image ID="Image7" CssClass="staff-image" ImageUrl="~/images/background/person.png"
                            runat="server" />
                    </td>
                    <td>
                        <fieldset width="100%">
                            <legend>Search Staff By:</legend>
                            <table>
                                <tr>
                                    <td>
                                        Employee Reference:
                                    </td>
                                    <td>
                                        <asp:TextBox ID="txtSearchByStaffReference" runat="server"></asp:TextBox>
                                        <asp:TextBoxWatermarkExtender ID="txtSearchByStaffReference_TextBoxWatermarkExtender"
                                            runat="server" Enabled="True" TargetControlID="txtSearchByStaffReference" WatermarkText="Search by staff reference:"
                                            WatermarkCssClass="water-mark-text-extender">
                                        </asp:TextBoxWatermarkExtender>
                                        <asp:AutoCompleteExtender ID="txtSearchByStaffReference_AutoCompleteExtender" runat="server"
                                            DelimiterCharacters="" Enabled="True" ServicePath="~/HRManagerClasses/HRManagerService.asmx"
                                            ServiceMethod="GetStaffByStaffReference" TargetControlID="txtSearchByStaffReference"
                                            CompletionInterval="0" CompletionSetCount="300" MinimumPrefixLength="1" CompletionListCssClass="auto-extender"
                                            CompletionListItemCssClass="auto-extender-list" CompletionListHighlightedItemCssClass="auto-extender-highlight"
                                            CompletionListElementID="divSearchByStaffReferenceDisplay">
                                        </asp:AutoCompleteExtender>
                                        <div id="divSearchByStaffReferenceDisplay" style="max-height: 200px; display: none;
                                            overflow: auto; width: 293px !important;">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Employee Name:
                                    </td>
                                    <td>
                                        <asp:TextBox ID="txtSearchByEmployeeName" runat="server"></asp:TextBox>
                                        <asp:TextBoxWatermarkExtender ID="txtSearchByEmployeeName_TextBoxWatermarkExtender"
                                            runat="server" Enabled="True" TargetControlID="txtSearchByEmployeeName" WatermarkText="Search by staff name:"
                                            WatermarkCssClass="water-mark-text-extender">
                                        </asp:TextBoxWatermarkExtender>
                                        <asp:AutoCompleteExtender ID="txtSearchByEmployeeName_AutoCompleteExtender" runat="server"
                                            DelimiterCharacters="" Enabled="True" ServicePath="~/HRManagerClasses/HRManagerService.asmx"
                                            ServiceMethod="GetStaffByStaffName" TargetControlID="txtSearchByEmployeeName"
                                            CompletionInterval="0" CompletionSetCount="300" MinimumPrefixLength="1" CompletionListCssClass="auto-extender"
                                            CompletionListItemCssClass="auto-extender-list" CompletionListHighlightedItemCssClass="auto-extender-highlight"
                                            CompletionListElementID="divSearchByEmployeeNameDisplay">
                                        </asp:AutoCompleteExtender>
                                        <div id="divSearchByEmployeeNameDisplay" style="max-height: 200px; display: none;
                                            overflow: auto; width: 293px !important;">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </td>
                </tr>
            </table>
        </asp:Panel>--%>
        <asp:ContentPlaceHolder ID="StaffModuleMainContent" runat="server">
        </asp:ContentPlaceHolder>
    </div>
</asp:Content>
